.card-wrapper {
  width: 20rem;
  border-radius: 1rem;
}

.card-title {
  font-size: 1.55rem;
  font-weight: bold;
}

.card-subtitle {
  font-size: 0.8rem;
  margin: 10px 0 10px 0;
}

.card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.card-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-btn p{
  margin: 0px 0px 0px 5px;
}
