.form-row {
  display: flex;
  flex-direction: column;
}
.form-row > * + * {
  margin-bottom: 12px;
}
.blocks-wrapper {
  display: flex;
  flex-direction: column;
}
.blocks-wrapper > * + * {
  margin-top: 12px;
}
.blocks-btn-row {
  margin: 12px 0;
}
.arrow-down {
  rotate: 180deg;
}
.date-picker-wrapper {
  min-width: 339.55px;
}
.form-buttons-group {
  display: flex;
  justify-content: space-between;
}
.form-actions > * + * {
  margin-left: 12px;
}
.image-option {
  display: flex;
  flex-direction: column;
}
.image-preview {
  width: 200px;
  height: auto;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .form-row {
    flex-direction: row;
  }
  .form-row > * + * {
    margin-bottom: 0;
    margin-left: 12px;
  }
  .form-group {
    width: 290px;
  }
  .image-option{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
